<div class="container">
	<div class="row">
    <div class="col-lg-5 col-md-5 col-sm-8 col-xs-9 bhoechie-tab-container">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
          <div class="list-group">
            <a href="#" class="list-group-item active text-center">
              BOOKING
            </a>
            <a href="#" class="list-group-item text-center">
              SEAT SELECTION
            </a>
            <a href="#" class="list-group-item text-center">
            	PAYMENT
            </a>
            <a href="#" class="list-group-item text-center">
             DETAILS
            </a>
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
            <div class="bhoechie-tab-content active">

                    <center>
                      <table class="table">
							            <thead>
							                <tr>
							                    <th>CITY</th>
							                    <th>THEATRE</th>
																	<th>DATE</th>
																	<th>TIME</th>
							                </tr>
							            </thead>
							            <tbody>
							                <tr>

																	<td><select ng-model="book.bookID" >
							                    	 <option ng-repeat="city in cityList" ng-value="book.bookID">{{city.cityID}}</option>
							                    	</select></td>

																		<td><select ng-model="book.tookID1" >
								                    	 <option ng-repeat="thtr in thtrList" ng-value="book.tookID1">{{thtr.thtrID}}</option>
								                    	</select></td>

																			<td><select ng-model="book.dookID" >
									                    	 <option ng-repeat="assm in assmList" ng-value="book.dookID">{{assm.assmID}}</option>
									                    	</select></td>

																				<td><select ng-model="book.tookID" >
										                    	 <option ng-repeat="time in timeList" ng-value="book.tookID">{{time.timeID}}</option>
										                    	</select></td>

							                    <td><button ng-click="addData(book)" class="btn btn-info">Add</button></td>
							                    <td><button ng-click="updateData(book)" class="btn btn-info">Update</button></td>

							                </tr>
							                <tr ng-repeat=" book in bookList">
							                    <td>{{book.bookID}}</td>
																	<td>{{book.tookID1}}</td>
																	<td>{{book.dookID}}</td>
																	<td>{{book.tookID}}</td>

							                    <td><button ng-click="deleteData(book)" class="btn btn-danger">Remove</button></td>
							                    <td><button ng-click="editData(book)" class="btn btn-info">Edit</button></td>
							                </tr>
							            </tbody>
							 </table>
			                    </center>
                        </div>

                        <div class="bhoechie-tab-content">
													<center>
													<h3>Screen this way! :)</h3>

													<table>
															<tr>
																	<td ></td>
																	<td ng-repeat="col in cols track by $index" ng-bind="col"></td>
															</tr>
															<tr ng-repeat="row in rows">
																	<td ng-bind="row"></td>
																	<td ng-repeat="col in cols" ng-click="seatClicked(row + col)" ng-switch on="getStatus(row + col)">
																			<img ng-switch-when="selected" src="seatpics/selected.jpeg">
																			<img ng-switch-when="reserved" src="seatpics/reserved.jpeg">
																			<img ng-switch-default src="seatpics/available.jpg">
																	</td>
															</tr>


													</table>

													<div >
															<img src="seatpics/available.jpg">  Available
															<img src="seatpics/selected.jpeg" >  Selected
															<img src="seatpics/reserved.jpeg" >  Reserved
													</div>

													<div >
															<button ng-click="clearSelected()" class="btn btn-info">Clear</button>
															<button ng-click="showSelected()" class="btn btn-info">Show selected seats!</button>
															<button ng-click="addSeat(book)" class="btn btn-info">RESERVE</button>

													</div>
												</center>


                  </div>



                  <div class="bhoechie-tab-content">

										<center>
											<form novalidate name="paymentForm">
	<label for="CN">
						 <input
							 type="text"
							 name="creditCard"
							 ng-model="creditCard"
							 required="true"
							 data-ng-pattern="/^[0-9]+$/"
							 data-ng-minlength="16"
							 maxlength="16"
							 placeholder="Enter your card number">
							 {{creditCard}}

						 <ul ng-show=" !paymentForm.$valid">
							 <li ng-show="paymentForm.creditCard.$error.minlength">Credit card must be 16 digits</li>
							 <li ng-show="paymentForm.creditCard.$error.pattern">Credit card must consist of only numbers</li>
							 <li ng-show="paymentForm.creditCard.$error.invalid">Your Card must be a valid MasterCard / Amex / Visa / Discover or PayPal Card</li>
							 <li ng-show="paymentForm.creditCard.$error.required">Credit card required</li>
						 </ul>

						 <input
						 type="text"
							ng-model="ccinfo.cardName"
						 placeholder="Enter card holder name"
						 name="cardName"
						ng-pattern="/^[a-zA-Z\s]*$/"
						 required="true">

						 <ul ng-show="paymentForm.submitAttempt && !paymentForm.$valid">
							 <li ng-show="paymentForm.cardName.$error.required">Card Name required</li>
							 <li ng-show="paymentForm.cardName.$error.pattern">Card Name must consist of alphabets & spaces only</li>
						 </ul>

						 <input
							 type="text"
							 name="securityCode"
							 ng-model="ccinfo.securityCode"
							 placeholder="Enter the CCV Number"
							 required="true"
							 data-ng-pattern="/^[0-9]+$/"
							 data-ng-minlength="3",
							 maxlength="3">

							 {{ccinfo.type}}

						 <ul ng-show="paymentForm.submitAttempt && !paymentForm.$valid">
							 <li ng-show="paymentForm.securityCode.$error.pattern">Security code must contain only numbers</li>
							 <li ng-show="paymentForm.securityCode.$error.minlength">Security code must be 3 digits</li>
							 <li ng-show="paymentForm.securityCode.$error.required">Security code required</li>
						 </ul>

</label>
<BR><BR>
 <H3 for="ex">What is the Expiry Date on your Card:</H3>

						 <label for="ex1">Month</label>
							<select name='myfield' required>
							<option selected>MM</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
							<option>11</option>
							<option>12</option>
							</select>

					 <label for="ex2">Year</label>
						<select name='myfield' required>
						<option selected>YYYY</option>
						<option>2016</option>
						<option>2017</option>
						<option>2018</option>
						<option>2019</option>
						<option>2020</option>
						<option>2021</option>
						<option>2022</option>
						<option>2023</option>
						<option>2024</option>
						<option>2025</option>
						<option>2026</option>
						<option>2027</option>
						</select>

	<BR><BR><BR> <BR>

		<button type="submit" class="btn btn-info" onclick="viewdetails()" >Pay Now!</button>
​      </form>
										</center>
                  </div>



                  <div class="bhoechie-tab-content">

										<center>
											<table class="table">
										<thead>
												<tr>
														<th>TIME</th>
														<th>DATE</th>
														<th>MOVIE</th>
														<th>THEATRE</th>

												</tr>
										</thead>
										<tbody>
												<tr>
												 <td><input ng-model="time.timeID" /></td>
														<td><select ng-model="time.assmID">
															 <option ng-repeat="assm in assmList" ng-value="time.assmID">{{assm.assmID}}</option>
														 </select></td>

																<td><select ng-model="time.moviTitle">
																	 <option ng-repeat="movi in movieList" ng-value="time.moviTitle">{{movi.moviTitle}}</option>
																	</select></td>

																<td><select ng-model="time.thtrID">
																	 <option ng-repeat="thtr in thtrList" ng-value="time.thtrID">{{thtr.thtrID}}</option>
																	</select></td>



														<td><button ng-click="addData(time)" class="btn btn-primary">Add</button></td>
														<td><button ng-click="updateData(time)" class="btn btn-primary">Update</button></td>

												</tr>
												<tr ng-repeat=" time in timeList">
													<td>{{time.timeID}}</td>
													<td>{{time.assmID}}</td>
													<td>{{time.moviTitle}}</td>
													<td>{{time.thtrID}}</td>
														<td><button ng-click="deleteData(time)" class="btn btn-danger">Remove</button></td>
														<td><button ng-click="editData(time)" class="btn btn-primary">Edit</button></td>
												</tr>

										</tbody>
				 </table>
							</center>
              </div>



                </div>
            </div>
</div>
</div>
